#etch-a-sketch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-grid-button {
    flex: none;
    padding: 8px;
    margin-bottom: 16px;
    border: 8px solid green;
    border-radius: 16px;
    font-size: 16px;
}